<%= form_for @content, :html => { :class => "form-horizontal content" } do |f| %>

  <% if @content.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @content.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :disp_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :disp_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:disp_id) %>
  </div>
  <div class="form-group">
    <%= f.label :view, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :view, :class => 'form-control' %>
    </div>
    <%=f.error_span(:view) %>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :status, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  <div class="form-group">
    <%= f.label :power, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :power, :class => 'form-control' %>
    </div>
    <%=f.error_span(:power) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contents_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
